@model MachineBuild.Models.PcConfig

@{
    ViewBag.Title = "Create";
}

<h2>Criar Configuração</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Nome, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Nome, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ProcessadorID, "Processador", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.ProcessadorID, null, "", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ProcessadorID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PlacaMaeID, "Placa Mãe", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.PlacaMaeID, null, "", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.PlacaMaeID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PlacaVideoID, "Placa de Vídeo", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("PlacaVideoID", null, "", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.PlacaVideoID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MemoriaID, "Memória", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("MemoriaID", null, "", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.MemoriaID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SSDID, "SSD", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("SSDID", null, "", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.SSDID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DiscoRigidoID, "Disco Rígido", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("DiscoRigidoID", null, "", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.DiscoRigidoID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.GabineteID, "Gabinete", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("GabineteID", null, "", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.GabineteID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CpuCoolerID, "Cpu Cooler", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("CpuCoolerID", null, "", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.CpuCoolerID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SistemaOperacionalID, "Sistema Operacional", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("SistemaOperacionalID", null, "", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.SistemaOperacionalID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FonteID, "Fonte", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.FonteID, null, "", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.FonteID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Voltar", "Index")
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script>
    $(document).ready(function () {
        $("#ProcessadorID").change(function () {
            $.get("/PcConfig/GetPlacaMaeList", { ProcessadorID: $("#ProcessadorID").val() }, function (data) {
                $("#PlacaMaeID").empty();
                $.each(data, function (index, row) {
                    $("#PlacaMaeID").append("<option value='" + row.PlacaMaeID + "'>" + row.PlacaMae.Nome + "</option>")
                });
            });        
        })
    });
</script>

<script>
    $(document).ready(function () {
        $("#PlacaVideoID").change(function ()  {
            $.get("/PcConfig/GetFonteList", { ProcessadorID: $("#ProcessadorID").val(), PlacaVideoID: $("#PlacaVideoID").val(), PlacaMaeID: $("#PlacaMaeID").val() }, function (data) {
                $("#FonteID").empty();
                $.each(data, function (index, row) {
                    $("#FonteID").append("<option value='" + row.Id + "'>" + row.Nome + "</option>")
                });
            });
        })
    });
</script>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
