@model MachineBuild.Models.PcConfig

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>PcConfig</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CpuCooler.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CpuCooler.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DiscoRigido.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiscoRigido.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fonte.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fonte.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gabinete.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gabinete.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Memoria.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Memoria.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PlacaMae.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlacaMae.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PlacaVideo.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlacaVideo.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Processador.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Processador.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SistemaOperacional.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SistemaOperacional.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SSD.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SSD.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
