@model MachineBuild.Models.PcConfig

@{
    ViewBag.Title = "Excluir Configuração";
}

<h2>Excluir</h2>

<h3>Você tem certeza que deseja excluir este item?</h3>
<div>
    <h4>Configuração</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("CPU Cooler")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CpuCooler.Nome)
        </dd>

        <dt>
            @Html.DisplayName("Disco Rígido")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiscoRigido.Nome)
        </dd>

        <dt>
            @Html.DisplayName("Fonte")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fonte.Nome)
        </dd>

        <dt>
            @Html.DisplayName("Gabinete")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gabinete.Nome)
        </dd>

        <dt>
            @Html.DisplayName("Memoria")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Memoria.Nome)
        </dd>

        <dt>
            @Html.DisplayName("Placa Mãe")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlacaMae.Nome)
        </dd>

        <dt>
            @Html.DisplayName("Placa de Vídeo")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlacaVideo.Nome)
        </dd>

        <dt>
            @Html.DisplayName("Processador")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Processador.Nome)
        </dd>

        <dt>
            @Html.DisplayName("Sistema Operacional")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SistemaOperacional.Nome)
        </dd>

        <dt>
            @Html.DisplayName("SSD")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SSD.Nome)
        </dd>

        <dt>
            @Html.DisplayName("Nome")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayName("Preço Médio Final")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.precoMedioFinal)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Excluir" class="btn btn-default" /> |
            @Html.ActionLink("Voltar", "Index")
        </div>
    }
</div>
