@model MachineBuild.Models.Fonte

@{
    ViewBag.Title = "Excluir Fonte";
}

<h2>Excluir</h2>

<h3>Você tem certeza que deseja excluir este item?</h3>
<div>
    <h4>Fonte</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayName("Descrição")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Marca)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Marca)
        </dd>

        <dt>
            @Html.DisplayName("Preço Médio")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrecoMedio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Watts)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Watts)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Link)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Link)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Excluir" class="btn btn-default" /> |
            @Html.ActionLink("Voltar", "Index")
        </div>
    }
</div>
