@model MachineBuild.Models.Pecas.ProcessadorPlacaMae

@{
    ViewBag.Title = "Detalhes";
}

<h2>Detalhes</h2>

<div>
    <h4>Compatibilidade</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Placa Mãe")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlacaMae.Nome)
        </dd>

        <dt>
            @Html.DisplayName("Processador")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Processador.Nome)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Voltar", "Index")
</p>
